In [1]:
import numpy as mp 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('ds_salaries.csv')

In [14]:
df['employment_type'].unique()
#

array(['FT', 'CT', 'FL', 'PT'], dtype=object)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [15]:
df['experience_level'] = df['experience_level'].replace({
    'SE' : 'Senior',
    'MI' : 'Middle',
    'EN' : 'Junior',
    'EX' : 'Executive'
})

df['company_size'] = df['company_size'].replace({
    'L' : 'Large',
    'S' : 'Small',
    'M' : 'Medium',
})

df['employment_type'] = df['employment_type'].replace({
    'FT' : 'Full time',
    'CT' : 'Contractor',
    'FL' : 'Freelancer',
    'PT' : 'Part time'
})

In [16]:
df.head(100)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,Senior,Full time,Principal Data Scientist,80000,EUR,85847,ES,100,ES,Large
1,2023,Middle,Contractor,ML Engineer,30000,USD,30000,US,100,US,Small
2,2023,Middle,Contractor,ML Engineer,25500,USD,25500,US,100,US,Small
3,2023,Senior,Full time,Data Scientist,175000,USD,175000,CA,100,CA,Medium
4,2023,Senior,Full time,Data Scientist,120000,USD,120000,CA,100,CA,Medium
...,...,...,...,...,...,...,...,...,...,...,...
95,2023,Junior,Full time,Machine Learning Engineer,163196,USD,163196,US,0,US,Medium
96,2023,Junior,Full time,Machine Learning Engineer,145885,USD,145885,US,0,US,Medium
97,2023,Senior,Full time,Data Engineer,217000,USD,217000,US,100,US,Medium
98,2023,Senior,Full time,Data Engineer,185000,USD,185000,US,100,US,Medium
99,2023,Senior,Full time,Data Analyst,202800,USD,202800,US,0,US,Large